.gradle/
.kotlin/
.idea/
build/
artifacts/
tmp/
data/generated/
firebase.json
.firebaserc

local.properties
androidApp/google-services.json

__pycache__/
*.py[cod]
*.log

*.iml

androidApp/build/
shared/build/

iosApp/Pods/
iosApp/build/
iosApp/DerivedData/
iosApp/*.xcworkspace/
iosApp/**/*.xcuserdata/
iosApp/**/*.xcuserstate

*.apk
*.aab
*.ipa
*.dSYM.zip
*.dSYM
